body{
    font-family: 'Roboto', sans-serif;
}
/*=============header section==================== */
#header span
{
    font-size:1.3em;
    font-weight: 1000;
    color: #5C1B1B;
}
#header .navbar
{
font-size: 1.3em;
}
#header .navbar ul li
{
    margin: 0.7em;
}
/* designers */
.designers{
    margin-top: 5%;
}
.designers h1
{
    margin:2%;
    text-align: center;
    color: #5C1B1B;
    font-weight: 1000;
    font-size: 1.8em;
}

.designers .designRow
{
    margin-top:5%;
    border-radius: 15px;
    padding: 3%;
    background-color: #C4C4C4;
    min-height: 23em;
}
.designers .designRow .column1
{
    overflow: hidden;
    max-height: 20em;
}
.designers .designRow .column1 img
{
   height: auto;
   width:100%;
}
.designers .designRow .column2 h3
{
    width:35%;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    border-radius: 15px;
    padding:10px;
    background-color: #fff;
    font-weight: bolder;
}
.designers .designRow .column2 p
{
    font-weight:bold;
    background-color: #fff;
    padding: 2%;
    border-radius: 15px;
}
.designers .designRow .column2 button
{
    background-color: white;
    font-weight: bolder;
    padding: 12px;
    font-size: 1.1em;
    border-radius: 15px;
    float: right;
}
.designers .view-moreBtn
{
    text-align: center;
}
.designers .view-moreBtn button
{
    width: 20%;
    margin-top: 5%;
    margin-bottom: 8%;
    font-weight: 1000;
    font-size: 20px;
    color: white;
    background-color: #3F3D3D;
    border-radius: 15px;
    padding: 10px;
}

.designers .view-moreBtn button:hover
{
    color: #3F3D3D;
    background-color: rgb(230, 230, 230);
}
/* ============footer===================== */
#footer
{
padding: 2%  4% 9% 9% ;
background-color: #3F3D3D;
color: white;
}
#footer .col1, .col2
{
 margin-top: 4%;
}
#footer h3
{
   font-size: 1.5em;
}
#footer .li
{
    font-size: 1.1em;
    margin-top: 1.5em;
}
#footer .li a
{
    text-decoration: none;
    color: white;
}
#footer .li a:hover
{
    color: rgb(187, 125, 125);
}
#footer .li .fa
{
    margin-right: 1em;
}


/* MEDIA QUERY */
@media only screen and (max-width: 600px) 
{
    /* ============footer===================== */
   
    #footer .col1, .col2
    {
    margin-top: 10%;
    }
    #footer h3
    {
    font-size: 1.3em;
    }
    #footer .li
    {
        font-size: 1em;
        margin-top: 1.2em;
    }
    #footer .li .fa
    {
        margin-right: 1em;
    }

    /* designers */
    .designers{
        margin-top: 5%;
    }
    .designers h1
    {
        margin:3%;    
        font-size: 20px;
    }
     
    .designers .designRow .column2 h3
    {
        margin-top:5%;
        width:55%;
        
        font-size: 20px;
        border-radius: 15px;
        padding:10px;
    }
    .designers .designRow .column2 p
    {
        font-size: 14px;
    }
    .designers .designRow .column2 button
    {
        font-size: 0.9em;
    }

    .designers .view-moreBtn button
    {
        width: 40%;
        margin-top: 5%;
        font-size: 16px;
    }


}
